{% extends "VideonaBackendUserManagementBundle::layout.html.twig" %}

{% block fos_user_authenticated %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <script>document.location = "{{url("_home")}}";</script>
    {% endif %}
{% endblock fos_user_authenticated %}

{% block fos_user_content %}
<div id="page-wrapper">
    <div id="main">
        {% if error %}
            <div id="login-error">{{ error.message|trans }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            
            <div class="form-item">
                <label for="username">{{ 'form.login.username'|trans({}, 'messages') }}</label>
                <input id="username" type="text" name="_username" value="{{ last_username }}" />
            </div>
            <div class="form-item">
                <label for="password">{{ 'form.login.password'|trans({}, 'messages') }}</label>
                <input id="password" type="password" name="_password" />
            </div>
                
            <input type="submit" name="login" value="{{ 'form.login.submit'|trans({}, 'messages') }}" />
        </form>
    </div>
</div>
{% endblock fos_user_content %}