{% extends "VideonaFrontendHomeBundle::layout.html.twig" %}

{% block body %}

    <div>
        {% block content %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% block fos_user_content %}
                    <h1>Hello {{ app.user.username }}!</h1>
                    <div>
                        <script>
                            function logout() {
                                // Call to /logout route
                                document.location = "{{ path("fos_user_security_logout") }}";
                            }
                            function deleteAccount() {
                                // Call to /account/delete route
                                document.location = "{{ path("delete_account") }}";
                            }
                        </script>
                    </div>
                    <button type="button" onclick="logout();">{{ 'security.logout.submit'|trans({}, 'messages') }}</button> 
                    <button type="button" onclick="deleteAccount();">{{ 'account.delete.submit'|trans({}, 'messages') }}</button> 
                {% endblock fos_user_content %}
            {% else %}
                <a href="{{path('fos_user_security_login')}}">
                    <img src="{{ asset('bundles/videonafrontendhome/images/logoVideona.png') }}" class="logoHome" alt="Login!" />
                </a>
            {% endif %}
        {% endblock %}
    </div>

{% endblock body %}